<h1> Add Comment</h1>
<%= form_with model: @comment, url: user_post_comments_path do |form| %>
    <section class= 'add-comment-container'>
        <div>
            <%= form.label :text%>
            <%= form.text_field :text, required: true%>
        </div>
        <%= form.submit %>
    </section>
    <% end %>

<%= link_to user_posts_path do %>
    <span class="back-button">Back to Post</span>
<% end %>
