<h1>Add Post</h1>

<%= form_with model: @post, url: user_posts_path do |form|%>
    <section class= 'add-post-container'>
        <div >
          <span class ='label-info'>  <%= form.label :title%> </span>
           <%= form.text_field :title, required: true%>
        </div>

         <div>
            <%= form.label :text%>
            <%= form.text_area :text, required: true%>
        </div>

       <button class ='submit-btn'> <%= form.submit %> </button>
    </section>
    <% end %>

<%= link_to users_path do %>
  <span class="back-button">Back to Users</span>
<% end %>